@font-face {
  font-family: JetBrainsMono; /* set name */
  src: url(font.ttf); /* url of the font */
}

body {
  font-family: JetBrainsMono;
  background-color: #222;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
}

button {
  appearance: none;
  border: none;
  color: white;
  background-color: #fff0;
  font-family: JetBrainsMono;
  border: 1px solid #fff8;
  border-radius: 8px;
  text-transform: uppercase;
  padding: 8px;
  transition: all 0.2s ease;
  cursor: pointer;
}

button:hover {
  background-color: #fff2;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: min(100vw, 600px);
  margin: 24px;
}

.word-info-card {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.word-info-group {
  flex: 1;
  padding: 8px;
  border: 1px solid #fff4;
  border-radius: 8px;
}

.word-info-label {
  font-size: 0.75rem;
  font-weight: 800;
  opacity: 0.7;
}

.new-game-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.difficulty-btn-row {
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 8px;
  position: relative;
}

.difficulty-btn-row::before {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  content: "";
  border-radius: 8px;
  border: 1px solid #fff3;
  z-index: 10;
  pointer-events: none;
}

.difficulty-btn-row button {
  appearance: none;
  border: none;
  color: white;
  font-family: JetBrainsMono;
  text-transform: uppercase;
  border-radius: 0;
  padding: 8px;
  flex: 1;
}

.difficulty-btn-row .easy {
  background-color: green;
}

.difficulty-btn-row .medium {
  background-color: orange;
}

.difficulty-btn-row .hard {
  background-color: firebrick;
}

.difficulty-btn {
  transition: all 0.2s ease;
}

.difficulty-btn.selected {
  cursor: default;
}

.difficulty-btn:not(.selected) {
  opacity: 0.8;
  color: #fff6;
}

.difficulty-btn:not(.selected):hover {
  opacity: 0.9;
  color: #fffa;
}

#step_prompt {
  border-radius: 8px;
  border: 1px solid #fff2;
  margin-bottom: 8px;
  padding: 8px 8px 12px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#step_prompt input {
  appearance: none;
  font-size: 2.5rem;
  font-family: JetBrainsMono;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  text-transform: uppercase;
  width: 6rem;
}

.step-prompt-input-container {
  position: relative;
}

#step_prompt .step-prompt-input-container::after {
  position: absolute;
  font-size: 2.5rem;
  bottom: -4px;
  left: 2px;
  content: "____";
  pointer-events: none;
  opacity: .5;
}

.step-prompt-label {
  font-size: 0.9rem;
  font-weight: 800;
  opacity: 0.7;
  align-self: flex-start;
}

.step-prompt-label.error {
  color: #f44;
}

#steps_container {
  border-radius: 8px;
  border: 1px solid #fff2;
  flex: 1;
  overflow: auto;
}

#steps_container > div {
  padding: 12px;
  display: flex;
  justify-content: center;
}

#steps_container > div:nth-child(2n + 1) {
  background-color: #fff1;
}
